@import "common";

body {
    background: #494c55;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.header-bar {
    position: relative;
    margin: 0 0.2rem;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.header-logo {
    display: block;
    margin-top: -0.2495rem;
    position: absolute;
    left: 0.1rem;
    top: 50%;
    width: 0.598rem;
    height: 0.368rem;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
}
.header-search {
    display: block;
    position: absolute;
    margin-top: -0.15rem;
    right: 0.1rem;
    top: 0.27rem;
    top: 50%;
    width: 0.30rem;
    height: 0.30rem;
    background: url(../images/search.png) no-repeat;
    background-size: contain;
}
.list-box {
    border-radius: 0.1rem;
    margin: 0.2rem;
    margin-top: 0;
    padding: 0.2rem;
    background: #fff;
}
.list-box { 
    .title {
        height: 0.34rem;
        line-height: 0.34rem;
        font-size: 0.24rem;
        color: #a0a0a0;
        font-size: 14px;
    }
    .title-icon {
        float: left;
        width: 0.34rem;
        height: 0.34rem;
        background: url(../images/man.png) no-repeat;
        background-size: contain; 
    }
    .title-textname {
        font-weight: bolder;
        color: #1a844f;
    }
    .title-line {
        display: inline-block;
        margin: 0 0.13rem 0 0.1rem;
    }
    .item {
        position: relative;
        margin-top: 0.4rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #dedede;
        .item-title {
            margin-bottom: 0.4rem;
            font-size: 0.22rem;
            color:#333;
            font-weight: bolder;
        }
        .item-colume {
            padding-bottom: 0.3rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }
        .item-col {
            width: 50%;
            font-size: 14px;
            .line {
                margin: 0 0.07rem;
            }
        }
        .item-col-1 .line {
            color: #f0c990;
        }
        .item-col-2 .line {
            color: #418f11;
        }
        .item-col-3 .line {
            color: #c96d6d;
        }
        .item-col-4 .line {
            color: #655eeb;
        }
        .more-info {
            position: absolute;
            display: block;
            right: 0.1rem;
            bottom: 0.9rem;
            width: 0.18rem;
            height: 0.18rem;
            border: solid #e4e4e4;
            border-width: 1px 1px 0 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            
        }
    }
    
}
li.item:last-child {
    border: none;
}
@import "./search"